body{
    margin: 0;
    box-sizing: border-box;
    height: 100vh;
    background-color: #1b1b1b !important;
}
.contenedor{
    background-color: #1b1b1b;
    height: 90vh;
    width: 960px;
    max-width: 90%;
    display: flex;
    padding: 2px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
#texto-principal{
    flex: 1 100%;
    color: white;
    text-align: center;
    font-family: 'Comic Neue', cursive;
    font-weight: bold;
}

#imagen img{
    flex: 1 100%;
    width: 500px;
}



#boton-regreso a{
    flex :1 100%;
    box-shadow: 10px 5px 5px black;
}

@media (max-width:380px){
    
    #texto-principal{
        display: none;
    }
} 