/*
font-family: 'Oswald', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Caladea', serif; 
 */

body{
    font-family: Arial;
    box-sizing: border-box;
    margin: 0;
}
/* estilo de botones */
.color-botones{
    background: rgb(156,53,24);
    background: linear-gradient(170deg, rgba(156,53,24,1) 13%, rgba(249,20,19,1) 50%, rgba(252,69,69,1) 91%); 
    color: white;
    font-family: 'Oswald', sans-serif;
    font-size: 1.2rem;
    border: 1px solid rgb(175, 45, 45);
    width: 100%;
    border-radius: 2px;
}
.margin-botones{
    margin-bottom: 20px;
}
.texto-center{
    text-align: center;
    font-family: 'Oswald', sans-serif;
    color: white;
}
.color-botones:hover{
    background: rgb(199, 6, 6);
    box-shadow: 2px 2px 2px 1px rgb(80, 3, 3);
}

/* {contenedor pagina */
.container{
    display: grid;
    /* grid-template: filas/columnas */
    grid-template: .4fr .1fr 1fr 1fr/ .5fr 1fr 1fr;
    height: 100vh;
}
/* contenedor pagina } */

/*{ menu de navegacion*/
.menu-left{
    grid-row: 1/5;
    grid-column: 1/2;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-image: url(../../../Descargas/img-menu-izquierda.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    filter: grayscale(.2);
}
/*menu de navegacion }*/

/*{ menu de informacion personal*/
.menu-header{
    grid-column: 2/4;
    grid-row: 1/2;
    background-color: cornflowerblue;
}
/*menu de informacion personal }*/

/*{ pestañas de navegacion*/
.nav-sheets{
    grid-column: 2/4;
    grid-row: 2/3;
    background-image: url(../../../Descargas/img-menu-izquierda.jpg);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.button-proveedores{
    width: 50%;
}

.button-compras{
    width: 50%;
    background-color: brown;
    color: white;
    font-family: 'Oswald', sans-serif;
    font-size: 1.3rem;
}
@media (max-width:550px){
    .button-proveedores{
        width: 100%;
    }
    .button-compras{
        width: 100%;
    }
}
/*pestañas de navegacion }*/


/*{ primer contenedor de formulario*/
.content-form{
    grid-column: 2/4;
    grid-row: 3/4;
    background-color: darkkhaki;
}
/*primer contenedor de formulario}*/

/*{segundo contenedor de formulario*/
.content-form2{
    grid-column: 2/4;
    grid-row: 4/5;
    background-color: rgb(207, 196, 32);
}
/*segundo contenedor de formulario}*/