
body{
    font-family: Arial;
    box-sizing: border-box;
    margin: 0;
}

/* FORMULARIO  ----- FORMULARIO*/

/* contenedor del formulario */
.contenedor{
    display: grid;
    /* grid-template: filas/columnas */
    grid-template: .1fr .5fr/1fr;
    height: 100vh;
}
/*{ cabebera de formulario*/
.cabecera-formulario{
    grid-column: 1/2;
    grid-row: 1/2;
    background-color: brown;
    display: flex;
}
/*seccion principal del formulario*/
.seccion-formulario{
    grid-column: 1/2;
    grid-row: 2/3;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
    background-color: rgb(64, 33, 33);
}

/* FORMULARIO ----- FORMULARIO */


/* estilo de botones */
.color-botones{
    background: rgb(36,0,0);
    background: radial-gradient(circle, rgba(36,0,0,1) 0%, rgba(121,9,9,1) 0%, rgba(153,38,38,1) 0%);
    color: white;
    font-family: 'Oswald', sans-serif;
    font-size: 1.2rem;
    border: 2px solid rgb(175, 45, 45);
    width: 100%;
    border-radius: 2px;
}
/* estilo de botones } */

/*{ menu de informacion personal*/
.menu-header{
    grid-column: 1/2;
    grid-row: 1/2;
    background-color: rgb(64, 33, 33);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-family: 'Oswald', sans-serif;
}
/*menu de informacion personal }*/






.form-group label{
    font-family: 'Oswald', sans-serif;
    color: rgb(241, 241, 241);
}