/*
font-family: 'Oswald', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Caladea', serif; 
 */


/* Header */
    #header{
        background: linear-gradient(rgb(61, 18, 18),rgb(138, 24, 24),rgb(167, 31, 31));
    }
    #header img{
        max-width: 2.5rem;
    }

    .font{
        font-family: 'Oswald',sans-serif;
        color: white;
    }

    .navbar-brand .font{
        position: absolute;
        margin-top: .35rem;
        margin-left: .9rem;
    }

    .navbar-nav .nav-link{
        color: white !important;
    }
/* /Header */

/* Main */
    #main .carousel-inner img{
        max-height: 86.78vh;
        object-fit: cover;
        filter: grayscale(70%);
    }

    #carousel{
        position: relative;
    }

    #carousel .overlay{
        z-index: 1;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        font-family: 'Oswald', sans-serif;
    }

    #carousel .overlay .container,
    #carousel .overlay .row{
        height: 100%;
    }

/* /Main */

/* modal para inicio de sesión */
    .modal-header{
        height: 3.5rem;
        background: linear-gradient(rgb(61, 18, 18),rgb(138, 24, 24),rgb(167, 31, 31));
        padding-left: 43%;
        color: white;
        font-family: 'Oswald', sans-serif;
    }

    .close-sileg{
        border: none;
        background: none;
    }
    .btn-login{
        background: linear-gradient(rgb(61, 18, 18),rgb(138, 24, 24),rgb(167, 31, 31));
        color:white 
    }

    .mostrarmsg{
        display: block !important;
        color: red;
    }
    .ocultar{
        display: none;
    }
/* /modal para inicio de sesión */

/* Footer */
    #footer{
        background: linear-gradient(rgb(61, 17, 17),rgb(245, 5, 5));
        font-size: .95rem;
        font-family: 'Oswald',sans-serif;
        color: white;
    }
/* /Footer */

