<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Pagina no encontrada !</title>
    <link rel="stylesheet" href="./css/notfound.css">
    <link rel="stylesheet" href="bootstrap-4.4.1-dist/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Comic+Neue:400,700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="contenedor-principal">
        <div class="contenedor">
            <div id="imagen">
                <img src="./img/noencontrada.gif" alt="">
            </div>
            <div id="texto-principal">
                <p>UPSS!! LO SENTIMOS PERO LA PAGINA QUE SOLICITASTE NO EXISTE</p>
            </div>
            <div id="boton-regreso">
                <a href="index.html" class="btn btn-outline-danger">REGRESAR AL INICIO</a>
            </div>
        </div>
    </div>
    <script src="bootstrap-4.4.1-dist/js/jquery-3.4.1.min.js"></script>
    <script src="/bootstrap-4.4.1-dist/js/bootstrap.min.js"></script>
</body>
</html>