*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    vertical-align: initial !important;
}

a:hover{
    color: rgb(44, 44, 44) !important;
}
/* header */
.encabezado{
    background: linear-gradient(rgb(61, 18, 18),rgb(138, 24, 24),rgb(167, 31, 31));
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    position: relative;
    padding: 15px 20px;
    font-family: Oswald, Arial;
}
.titulo-empresa{
    color: white;
    font-size: 1.7rem;
    display: inline-block;
    margin-top: 15px;
}
.nombre-usuario{
    list-style: none;
}
.nombre-usuario > a{
    text-decoration: none;
    color: white;
}
.submenu-info-usuario{
    position: absolute;
    display: none;
    top: 90%;
    right: 10px;
}
.submenu-info-usuario li{
    list-style: none;
}

.nombre-usuario:hover .submenu-info-usuario{
    display: block;
}

.elementos-sub-menu > a{
    color: black;
    text-decoration: none;
}

.user-name{
    margin-top: 17px;
}
/* cierre header */

/* contenido principal completo*/
.seccion-principal{
    display: grid;
    grid-template-columns: 200px 1152px;  
}

/* menu izquierdo */
.menu-izquierdo{
    height: 100vh;
    background: linear-gradient(rgb(61, 18, 18),rgb(138, 24, 24),rgb(167, 31, 31));
}
.ocultar{
    display: none;
}
.mostrar{
    display: block;
}

.color-fuente{
    color: white;
    text-decoration: none;
    font-family: Poppins;
    padding-left: 7px;
}

.contenedor-menu{
    position: absolute;
    top: 30px;
}

.lista-menu li{
    list-style: none;
}

.modulo{
    position: relative;
    top: 30px;
    width: 200px;
}
.submenu{
    background-color: rgb(131, 20, 20);
    padding-left: 10px;
}
.submenu{
    position: relative;
}

.submenu-item{
    padding: 8px;
}
.menu-principal{
    border: 0;
    display: flex;
    justify-content: start;
    border-radius: 2px;
    width: 100%;
    background-color: brown;
    box-shadow: -5px -2px 3px 1px rgb(70, 8, 8);
    padding: 5px;
    margin-top: 2px;
}

/* contenedor principal derecho */
.contenido-de-modulos{
    height: 100vh;
}

.campos-formulario{
    display: block;
    padding: 5px;
    width: 300px;
}

.contenedor-titulo{
    padding: 1px;
    margin-bottom: 10px;
    background: gainsboro;
}
.titulo-principal{
    font-size: 1.3rem;
    font-family: oswald;
}
.contenedor-por-campo{
    display: flex;
    padding: 5px;
    width: 300px;
    justify-content: space-between;
    margin-left: 30px;
}

.titulo-formulario{
    padding-left: 20px;
    padding-bottom: 15px;
    font-family: Oswald,Arial;
    font-size: 1.5rem;
}

.campo{
    border-radius: 5px;
    width: 190px;
    height: 35px;
}

.contenedor-formulario{
    background: gainsboro;
    display: flex;
    justify-content: space-between;
}
.contenedor-botones{
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
}
.contenedor-tabla{
    width: 800px;
    border: 1px solid wheat;
    padding: 10px;
}

.buscador{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
    margin-top: 10px;
}
.buscador-input{
    border-radius: 6px;
    border: 1px solid #28a745;
    padding: 3px;
}
/* contenedor principal derecho */