/* contenedor principal derecho */

.btn-sileg{
    display: none;
}
.contenido-de-modulos{
    height: 100vh;
}

.titulo-por-campo{
    font-size: .9rem;
}
.campos-formulario{
    display: flex;
    padding: 5px;
}

.contenedor-campos{
    width: auto;
    height: 400px;
    overflow-y: scroll;
}
.contenedor-titulo{
    padding: 1px;
    margin-bottom: 10px;
    background: gainsboro;
}
.titulo-principal{
    font-size: 1.3rem;
    font-family: oswald;
}
.contenedor-por-campo{
    display: flex;
    padding: 5px;
    width: 300px;
    justify-content: space-between;
    margin-left: 30px;
}

.titulo-formulario{
    padding-left: 20px;
    padding-bottom: 15px;
    font-family: Oswald,Arial;
    font-size: 1.5rem;
}

.titulo-formulario:hover{
    text-decoration: underline;
}
.campo{
    border-radius: 5px;
    width: 190px;
    height: 35px;
}

.contenedor-formulario{
    background: gainsboro;
    display: flex;
    justify-content: space-between;
}
.contenedor-botones{
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
}
.contenedor-tabla{
    width: 800px;
    border: 1px solid wheat;
    padding: 10px;
}

.buscador{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
    margin-top: 10px;
}
.buscador-input{
    border-radius: 6px;
    border: 1px solid #28a745;
    padding: 3px;
}
.btn-table{
    text-align: center;
}

.btn-table:hover{
    background-color: black;
    transition: all .5s;
    border-radius: 5px;
}

.select-product{
    width: 191px !important;
}


@media  screen and (max-width:550px){
    
    .contenido-de-modulos{
        height: 100vh;
        width: 100vw;
    }
    .contenido-de-modulos{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .contenedor-formulario{
        display: flex;
        flex-direction: column;
    }

    .buscador{
        justify-content: start;
    }

    .buscador-input{
        height: 30px;
        margin-top: 8px;
        padding: 18px;
    }
}

@media  screen and (max-width:750px){
    .contenedor-formulario{
        display: flex;
        flex-direction: column;
    }

    .contenedor-botones{
        justify-content: flex-start;
    }
    .buscador{
        justify-content: start;
    }

    .menu-izquierdo{
        height: 950px;
    }

    .contenedor-tabla{
        display: none;
    }
}