/* contenedor principal derecho */
.contenido-de-modulos{
    height: 100vh;
}

.campos-formulario{
    display: block;
    padding: 5px;
    width: 300px;
}

.contenedor-titulo{
    padding: 1px;
    margin-bottom: 10px;
    background: gainsboro;
}
.titulo-principal{
    font-size: 1.3rem;
    font-family: oswald;
}
.contenedor-por-campo{
    display: flex;
    padding: 5px;
    width: 300px;
    justify-content: space-between;
    margin-left: 30px;
}

.titulo-formulario{
    padding-left: 20px;
    padding-bottom: 15px;
    font-family: Oswald,Arial;
    font-size: 1.5rem;
}

.campo{
    border-radius: 5px;
    width: 190px;
    height: 35px;
}

.contenedor-formulario{
    background: gainsboro;
    display: flex;
    justify-content: space-between;
}
.contenedor-botones{
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
}
.contenedor-tabla{
    width: 800px;
    border: 1px solid wheat;
    padding: 10px;
}

.buscador{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
    margin-top: 10px;
}
.buscador-input{
    border-radius: 6px;
    border: 1px solid #28a745;
    padding: 3px;
}
